#photo{
    height: 100px;
    border-radius: 60px;
    border-width: 2px;
    width: auto;
    align-items: flex-end;
}
.deco{
    text-decoration: underline;
}
.letter{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;

}

